@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
    }
    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar
    {
        margin-right: 0;
        margin-left: 0;
    }	

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header,
    {   
        float:none !important;
        color: #04040E;
    }

    .navbar-right .dropdown-menu {left:0;right:auto;}
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}


html,body { height: 100%; 
    margin: 0px; 
    padding: 0px; 
}
a {
    width:100%;
}
br {
   display: block;
   margin: 10px 0;
}
#sideBar {
    float:left;
    <!-- width: 300px; -->
    height: 100%;
    background-color: gray;    
}
#numberSequence {
    float:right;
}

#title{
    align-content: center;
    font-size: 18px;
    <!-- margin-bottom: 37px; -->
    <!-- font-family: 'Julius Sans One', sans-serif; -->
    color: #04040E;
    cursor:pointer;
}

#divine{
    background-color: "red";
}
